<!-- affectation de la classe item
     si le post est aimé alors il est de couleur verte
     si le post n'est pas aimé, il est de couleur rouge
-->



<li class="col-xs-12" 
    [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0 }"
                >
	<div class='row'[ngStyle]="{color: getColor()}">
		<h4 class=' col-8' >{{ post.title }} </h4>
		<!-- j'aime pas la présentation des date en format short, donc j'en ai fabriqué un plus conforme à la lecture française -->
		<p class='col-4 text-right font-italic'>{{ post.created_at | date: 'dd/MM/yyyy, h:mm a'  }} </p>
		<p class='col-12 text-align'>{{ post.content }} </p>
	</div>
	<div class="row">
		<div class='col-4'>
			<button class="btn btn-success mr-3"
				  (click)="onLove()">J'aime!
			</button>
			<button class="btn btn-danger"
				  (click)="onDontLove()">Je n'aime pas !
			</button>
		</div>
		<div class='col-8 text-right'>
			<button class="btn btn-danger"
				  (click)="onDelete(index)">Supprime ce post !
			</button>
		</div>
	</div>
</li>
